*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html,body, #root{
  height: 100%;
}
body{background-color: #eee;}
#root{
  display:flex;
  align-items: center;
  justify-content: center;
}
section{
  background:#fafafa;

  width:380px;

  display:flex;
  flex-direction: column;
  align-items: center;

  border-radius: 0.5rem;
  padding:1rem;
}
.display{

width:100%;
padding: 1rem 0.25rem;
text-align:right;
line-height: 5rem;
min-height: 7rem;
font-size:2rem;
color:white;
background-color:black;

}
select{
  width:100%;
  padding: 0.25rem;
  text-align:center;
  cursor: pointer;
}

.buttons{
  margin-top: 2rem;
  width:100%;
  display:flex;
  justify-content: space-between;
}
button{
  width:64px;
  height: 56px;
  font-size: 2rem;
  cursor: pointer;
}
.btn-grid {
  width:75%;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  gap: 30px 30px; 
  grid-template-areas: 
    ". . . d"
    ". . . e"
    ". . . e"
    ". . . e"
    ". . . e"; 
}
.divide{
  grid-area: d;
}
.equal-sign{
  height: 100%;
  grid-area: e;
}
